[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ahmed Tarek (tarek360)
[access "refs/for/refs/*"]
	read = group user/Ahmed Tarek (tarek360)
	push = group user/Ahmed Tarek (tarek360)
	label-Code-Review = -2..+2 group user/Ahmed Tarek (tarek360)
	label-Verified = -1..+1 group user/Ahmed Tarek (tarek360)
	rebase = group user/Ahmed Tarek (tarek360)
	removeReviewer = group user/Ahmed Tarek (tarek360)
	submit = group user/Ahmed Tarek (tarek360)
[access "refs/heads/*"]
	read = group user/Ahmed Tarek (tarek360)
	create = group user/Ahmed Tarek (tarek360)
	push = +force group user/Ahmed Tarek (tarek360)
	pushMerge = group user/Ahmed Tarek (tarek360)
[access "refs/tags/*"]
	push = +force group user/Ahmed Tarek (tarek360)
	pushTag = group user/Ahmed Tarek (tarek360)
	pushSignedTag = group user/Ahmed Tarek (tarek360)
